* {
	font-family: var(--font);
	--time: 500ms;
	--background-color: #ccc;
}

body {
	font-size:5vmin;
	margin:0;
	--font: 'Manrope', sans-serif;
}

#main-container {
	min-height:100vh;
	min-height: fill-available;
	min-height: -webkit-fill-available;
	width:100vw;
	display:flex;
	align-items: center;
	justify-content: center;
	position:absolute;
	z-index:-100;
	overflow:hidden;
}

input, button, textarea {
  font-size:inherit;
}

.code-field {
	border-style: none;
	border-radius:0.2em;
	font-weight:600;
	font-size:60%;
	overflow-x:auto;
	white-space:nowrap;
	padding-right:1em;
}

.to, .from-back {
	margin-top:0.3em;
	font-size:60%;
	text-transform: uppercase;;
}

.gift-image {
	opacity:0.1;
  filter: blur(2px);
	background-size:cover;
	background-position:center;
	position:absolute;
	z-index:-1;
	top: 0; right: 0; bottom: 0; left: 0;
}

button {
	background-color: rgba(255,255,255,0.1);
	color: black;
	border-style: none;
	border-radius:1em;
	border: .15em solid black;
	padding: 0 1em;
	min-width:5em;
	text-transform:uppercase;
	font-size:60%;
	font-weight:700;
	margin-left:0.5em;
}

div.code-container:hover button,
div.link-container:hover button,
button:hover {
	background-color: rgba(0,0,0,0.9);
	color:white;
	background-color: rgba(0,0,0,0.9);
	color:white;
  box-shadow: 0px 0px 0.25em #0066ff;
}

button:focus{  
	outline: none;
  box-shadow: 0px 0px 2px #0066ff;
	border-radius:1em;
}

.card {
	perspective: 200em;
	transition: z-index;
  transition-delay: var(--time);
	z-index: 0;
	opacity:1.0;
	transition: opacity var(--time) cubic-bezier(0.0, 0.0, 0.2, 1),
	   transform var(--time) cubic-bezier(0.0, 0.0, 0.2, 1);
	transform:translateY(0vmin) scale(1.0);
	user-select: none;
}
body.loading .card {
	opacity:0.0;
	transform:translateY(30%) scale(1.1);
}

.card-body {
	transition: z-index, transform var(--time) ease-out, opacity var(--time) ;
  transition-delay: var(--time), 0s, 0s;
	position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
	transform-origin: center center;

}

#back {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
	transform: rotateX(-180deg);
}

.card.flipped .card-body {
}

.card:not(.flipped):hover .card-body {
}


.card-face {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	min-width: 100%;
	align-items: center;
	background-color: white;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2),
	  inset 0 -.1em 0 rgba(255,255,255,0.4),
	  0 .5em .9em rgba(0,0,0,0.06),
	  0 .3em .3em rgba(0,0,0,0.04);
	transition:filter var(--time);
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
	width:17.12em;
	min-height:10.80em; /*10.80em;*/
	max-height:21.60;
	color:rgba(0,0,0,0.80);
	background-size: 400% 400%;
	background: radial-gradient(farthest-corner at 20% 20%,
	rgba(255,255,255,0.99) 0%,rgba(255,255,255,0.95) 100%);
	border-radius:.576em;
	padding:1em;
	box-sizing: border-box;
	font-weight:600;
	overflow-y: auto;
}



.card:not(.flipped) #front,
.card.flipped #back {
	/* -webkit-backdrop-filter: blur(.1em);
	backdrop-filter: blur(.1em); */
}

#fliphint {
	background-image: url("/arrow_forward.svg");
	background-position: bottom right;
	background-repeat: no-repeat;
}
#front,
#back {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:space-between
}

.note {
	font-size:120%;
	white-space:pre-wrap;
}

.from {
	margin-top:.5em;
	font-size:75%;
}

.host {
	text-transform: uppercase;
	font-size:50%;
	letter-spacing: 0.1em;
	opacity:0.75;
}

.info-container {
	flex:1 0 auto;
	width:75%;
	font-weight:400;
	white-space:pre-wrap;

}
.code-container,
.link-container {
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;;
	margin-top:0.3em;
	user-select:all;

}
.code-container:hover,
.link-container:hover {
	background:rgba(0,0,0,0.1);
	border-radius:1em;
	margin-left:-0.5em;
	padding-left:0.5em;
}


.edit-content {
	display: flex;
	font-size:75%;
	flex-direction: column;
	opacity:1.0
}


/* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
body.default #background {
	background:
	url(img/blue.svg) top 0 right 0 / 50vw no-repeat,
	url(img/pink.svg) bottom -10vmax left -10vmax / 60vmax no-repeat,
	url(img/red.svg) left -5em top -10em / 15em no-repeat,
	linear-gradient(110.73deg, #009FFF 10.61%, rgba(47, 236, 145, 0.58) 93.57%);
}

body.blur .background {
	filter:blur(0.1vmin);
}


.theme-candycane #main-container {
	background: url(img/polkadots.svg),I
	red;
}

#gift-container {
	padding-bottom:0vh;
}

img.blob {
	position:absolute;
	z-index:-1;
}
#iframe {
	width:100%;
	height:100%;
	position:absolute;
}
#intro {
	width: 12em;
	max-width:80vw;
	margin:auto;
	display:flex;
	flex-direction:column;
	text-align:center;
	align-items: center;
	font-size:4vmin;
	justify-content: center;
	overflow:hidden;
	max-width: 80vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	font-size: 4vmin;
	justify-content: center;
	overflow: hidden;
	font-size: 1.5rem;
}

#intro-icon {
	float:left;
	width:4em; height:4em;
	margin-bottom:2em;
}

form {
	margin: -0.5em;
}

.formrow {
	display:flex;
	flex-direction: row;
	gap:0.5em;
}

.formel {
	font-size:60%;
	display:flex;
	flex-direction:column;
	margin-bottom:1em;
	flex: 1 1 0px;
}

.formel label {
	font-size:75%;
	font-weight:800;
	opacity:0.8;
	margin-bottom:0.1em;
	text-transform: uppercase;
}

.formel {
}
.formel input,
.formel textarea{
flex-grow:40;
border-style: none;
background:none;
font-weight:400;
resize: vertical;
padding:0.2em;
border-bottom:1px solid rgba(0,0,0,0.4);
}


.formel:focus-within label
.formel:hover label {
	opacity:1.0;
}
.hint {
	font-weight:800;
	opacity:0.8;
}
.formel:not(:focus-within):not(:hover) .hint {
	opacity:0.0;
	
}

::placeholder {
  opacity: 0.3;
}

.themes {
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
}
.theme {
	font-size:150%;
}
.theme {
	border-radius:1em;
	width:1.5em;
	height:1.5em;
	line-height:1.5em;
	text-align:center;
	cursor:pointer;
}

.theme:hover {
	background:rgba(0,0,0,0.1);
}




#main-container, #background, #foreground {
	background-size:cover;
	background-position: center center;
}

#background {
	pointer-events: none;
	overflow:hidden;
	border:none;
}

.foreground,
.background {
	width:100vw;
	height:100vh;
	position:fixed;
	top:0; right: 0; bottom:0; left: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

body.theme-stripes .foreground {
	-webkit-mask-image: url(img/stripes.svg);
}

body.theme-dots .foreground {
	-webkit-mask-image: url(img/dots.svg);
}

body.theme-burst .foreground {
	-webkit-mask-image: url(img/burst.svg);
}

body.theme-stars .foreground {
	-webkit-mask-image: url(img/stars.svg);
}






/* NJ Personal */

@font-face {
  font-family: 'Brillig';
  src: url('img/theme/brillig.woff')  format('woff'); /* Safari, Android, iOS */
}

body.zh .note {
	background-image: url(img/theme/zh.svg);
	padding-top:2.5em;
	margin-top:-0.5em;
	background-position:center top;
	background-repeat: no-repeat;
	background-size:2em;
	font-size:400%;
}

body.zh .card {
	line-height:130%;
}

body.zh .card-face {
	border-radius:0.05em;
}

body.zh #front {
	border: 0.2em solid rgb(236, 106, 0);
}
body.zh #back {
	background: 
	radial-gradient(farthest-corner at 20% 20%,
	rgb(236, 106, 0) 0%, rgb(200, 80, 0) 100%);
	color:white;
}

body.zh {--font:'Brillig', cursive; letter-spacing: 0.02em;}

body.zh #main-container {
	background-color:gray;
	padding-top:10vh;
	padding-bottom:10vh;

}

body.zh .card-face {
	font-size:150%;
	width:12.0em;
	min-height:12em; /*10.80em;*/
	max-height:121.60em;
}